FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY_BASE64=your-private-key
FIREBASE_STORAGE_BUCKET=your-storage-bucket
AUTH_SECRET=your-auth-secret

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=